@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body{
    font-family: 'NanumSquare', sans-serif;
}

.container {
    width: 970px;
    max-width: none !important;
    font-family: 'NanumSquare', sans-serif;
    margin: 0 auto;
}

.main{
    width:65%;
    margin: 0 auto;
}


#nav_list{
    display: inline;
    text-align: center;
}

ul{
    list-style-type: none;
}

nav{
    width: 70%;
    margin: 0 auto;
}

.nav-a {
    display: inline-block;
    /* width: 50%;  */
    padding: 0 0;
    margin: 3rem 0 0 0;
    text-decoration: none;
    color: #333;
}


#nav_hr{
    height: .25rem;
    width: 50%;
    margin: 0 0 0 -1rem;
    background: tomato;
    border: none;
}

#hr-line{
    width:80%;
}

.recipe-Search,.recipe-content {
    width:70%;
    margin: 0 auto;
}

.small-title{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
    margin-bottom: 2rem;
}

/*recipe-Search*/
.searchsection{
    font-family: 'NanumSquare', sans-serif;
}

.recipePriceSearch{
    font-size: 12px;
}

p{
  font-size: 1.3rem;
  font-family: 'NanumSquare', sans-serif;
}

p > span{
    color: #FFC80D !important;
    font-weight: bold;
    font-size: 1.5rem;
}

#searchword{
    font-size: 1.2rem;
    margin-right: 20px;
}

input{
    font-size: 1rem;
    height: 2.2rem;
    /* width: 80px;
    height: 10px; */
    padding: 10px;
    margin-right: 10px;
    text-align: right;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #FFC80D !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,199,13,.25) !important;
}

#searchButton{
    width: 50px;
    border: 0px;
    background: #FF9100;
    outline: none;
    float: right;
    color: #ffffff;
    border-radius: 6px 6px;
}

#searchButton:not(:disabled):not(.disabled):focus{
    box-shadow: none;
}

#tagsButton{
  width: 50px;
  height: 100%;
  border: 0px;
  background: #fdbf00;
  outline: none;
  color: #111111;
  border-radius:0 8px 8px 0;
  display: inline-block;
}

#tagsButton:not(:disabled):not(.disabled):focus{
    box-shadow: none;
}

.form-inline >input{
   font-size: 1rem;
   height: 2.2rem;
   padding: 10px;
   border-radius: 10px 0 0 10px !important;
   line-height: 1.5;
   display: inline;
}

input[name="minPrice"], input[name="maxPrice"] {
  border-radius: 10px 10px !important;
}

#writeButton{
  color:rgb(255, 99, 71);
  font-size: 1.1rem;
}

#writeButton:hover{
  text-decoration: none!important;
}


/* recipe-content */
.existRecipe{
    font-size: 14px;
}
.existRecipe span{
    font-size: 14px;
    color: rgb(255, 145, 0) !important;
}


@media (min-width:1850px) { /*한 줄에 4개 들어가는 경우*/
  .defaultResult{
      clear:both;
      margin: 20px;
      height: 400px; /* item개수/4*350 + 50 */
  }
}

@media (max-width:1850px) { /*한 줄에 3개 들어가는 경우*/
  .defaultResult{
      clear:both;
      margin: 20px;
      height: 750px; /* item개수/3*350 + 50 */
  }
}

.recipe{
    /* margin-left: 30px;
    margin-top : 30px; */
    float: left;
}

#recipeimage{
    width:250px;
    height:250px;
}

#recipeTitle{
    font-size: 20px;
    font-weight: 600;
    float:left;
}
#recipePrice{
    color: rgb(255, 145, 0);
    font-size: 16px;
    margin-left: 100px;
    font-weight: 600;
    text-align: right;
}
#recipeUser{
    font-size: 0.8rem;
    margin-top: 10px;
}
#recipeItem{
    font-size: 14px;
    margin-top:8px;
}
#recipeItem a{
    color: #888484;
    font-size:12px;
}

footer {
    width:70%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
}

footer p {
    margin-bottom: .25rem;
}

#signup, #dropout{
    background-color: #FF9100;
    border: none;
}

#login, #logout {
    background-color: #FFDA2D;
    border: none;
}

.featurette-divider {
    margin-top: 5rem; /* Space out the Bootstrap <hr> more */
}
