@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.jumbotron{
    background-image: url("../../images/static/jumbotron_img.png");
    width: 80%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
    max-width: 1140px;
}

.container{
    max-width: 1140px;
    font-family: 'NanumSquare', sans-serif;
}

.logincenter {
    font-family: 'NanumSquare', sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    height: 300px;
    width: 380px;
    margin: -150px 0px 0px -200px;
}

.loginword{
    margin-bottom: 30px;
}

.logininput{
    height:35px;
    width:350px;
    border: 1px solid #fdbf00;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius:5px;
    padding: 8px;
    text-align: left;
    font-size: 15px;
    color: #cfcfcf
}

.login{
    text-align: center;
}

hr{
    width:1100px;
    height: 50px;
    text-align: center;
    color: #111111;
}

.loginBtn{
    border: none;
    width:350px;
    padding: 8px;
    height:40px;
    font-size: 20px;
    background-color: #fdbf00;
    border-radius:5px;
    margin: 3px;
    color: white;
}

.dropoutBtn{

    border: none;
    width:370px;
    padding: 8px;
    height:50px;
    font-size: 15px;
    background-color: #fdbf00;
    border-radius:5px;
    font-weight: 600;
    margin: 3px;
}

.gomain{
    text-align: right;
}

.logResult{
    font-size: 14px;
    margin: 3px;
    text-align: left;
    margin-top: 10px;
}

.mainbutton{
    border: 0px;
    font-size: 14px;
}

#signup, #dropout{
    background-color: #FF9100;
    border: none;
}

#login, #logout {
    background-color: #FFDA2D;
    border: none;
}
