@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body{
    font-family: 'NanumSquare', sans-serif;
}

.container {
    width: 970px;
    max-width: none !important;
    font-family: 'NanumSquare', sans-serif;
    margin: 0 auto;
}

.form-auth{
    width: 100%;
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}


nav{
    width: 80%;
    margin: 0 auto;
}

ul li {
    display: inline;
    text-align: center;
}

.nav-a {
    display: inline-block;
    /* width: 50%;  */
    padding: 0 0;
    margin: 3rem 0 0 0;
    text-decoration: none;
    color: #333;
}

.loginword{
    margin-bottom: 30px;
}

.logininput{
    line-height: 1;
    width:100%;
    border: 1px solid #fdbf00;
    border-radius:5px;
    padding: 8px;
    text-align: left;
    font-size: 1rem;
    color: #111111;
}

input[type="password"] {
    font-size: 1rem;
    font: small-caption;
}


hr{
    width:500px;
    text-align: center;
    color: #111111;
}

.loginBtn{
    border: none;
    width:100%;
    padding: 8px;
    height:40px;
    font-size: 20px;
    background-color: #fdbf00;
    border-radius:5px;
    margin: 3px;
    color: white;
}

.dropoutBtn{
    border: none;
    width:100%;
    padding: 8px;
    height:40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fdbf00;
    border-radius:5px;
    margin: 3px;
    color: white;
}

.logResult{
    font-size: 1rem;
    text-align: left;
}

#signup, #dropout{
    background-color: #FF9100;
    border: none;
}

#login, #logout {
    background-color: #FFDA2D;
    border: none;
}
