ul{
    list-style-type: none;
}

.showWrap{
    margin: 50px;
}

input{
    font-size: 10px;
    width: 80px;
    height: 10px;
    padding: 5px;
    margin-right: 10px;
    text-align: right;
}
.recipePriceSearch{
    font-size: 12px;
}
.search{
    float:left;
    font-size: 12px;
}
#searchword{
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
}

.defaultResult{
    clear:both;
    margin: 20px;
}

.searchsection{
    margin-top: 50px;
}
.existRecipe{
    font-size: 14px;
}
.existRecipe a{
    font-size: 14px;
    color: rgb(255, 145, 0);
}

.recipe{
    margin: 30px;
    width:300px;
    float: left;
}

#recipeimage{
    height: 300px;
    width: 300px;
}
#recipeTitle{
    font-size: 20px;
    font-weight: 600;
    float:left;
}
#recipePrice{
    color: rgb(255, 145, 0);
    font-size: 16px;
    margin-left: 100px;
    font-weight: 600;
    text-align: right;
}
#recipeUser{
    font-size:12px;
}
#recipeItem{
    font-size: 14px;
    margin-top:8px;
}
#recipeItem a{
    color: #888484;
    font-size:12px;
}
.write{
    clear:both;
    text-align: right;
}

#writeButton{
    font-size: 12px;
}