@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body{
    font-family: 'NanumSquare', sans-serif;
}

#nav_list{
    display: inline;
    text-align: center;
}

ul{
    list-style-type: none;
}


.container {
    width: 970px;
    max-width: none !important;
    font-family: 'NanumSquare', sans-serif;
    margin: 0 auto;
}

.main{
    width:65%;
    margin: 0 auto;
}

nav{
    width: 75%;
    margin: 0 auto;
}

.nav-a {
    display: inline-block;
    /* width: 50%;  */
    padding: 0 0;
    margin: 3rem 0 0 0;
    text-decoration: none;
    color: #333;
}


#nav_hr{
    height: .25rem;
    width: 50%;
    margin: 0 0 0 -1rem;
    background: tomato;
    border: none;
}

#hr-line{
    width:80%;
}


.product-Search,.product-content {
    width:70%;
    margin: 0 auto;
    height: auto;
}
.product-sort{
    width:70%;
    margin: 0 auto;
}

hr{
    width:100%;
    height: 50px;
    text-align: center;
    color: #111111;
}

.small-title{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
    margin-bottom: 2rem;
}

/*일단 footer 빼고 높이 조절 안 하는 방향으로!*/
@media (min-width:1850px) { /*한 줄에 4개 들어가는 경우*/
    .defaultResult{
        clear:both;
        margin: 1.25rem;
        height: 700px; /* (item개수/4+1)*350 + 50 */
    }
}

@media (max-width:1850px) { /*한 줄에 3개 들어가는 경우*/
    .defaultResult{
        clear:both;
        margin: 1.25rem;
        height: 700px; /* (item개수/3+1)*350 + 50 */
    }
}

article>img{
    width:14.5rem !important;
    height:14.5rem !important;
}


#item{
    float: left;
    width: 15rem;
    height: 22.5rem;
}

#itemCompany{
    font-size: 12px;
    border: 1px;
}
#itemName{
    font-size: 1.25rem;
    font-weight: 600;
    float:left;
    width: 15rem;
}
#itemPrice{
    color: rgb(255, 145, 0);
    font-size: 1rem;
    margin-left: 5rem;
    font-weight: 600;
    text-align: right;
}

input{
    padding: 10px;
    border-radius:10px 0 0 10px!important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #FFC80D !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,199,13,.25) !important;
}

#searchButton{
    width: 3.2rem;
    height: 100%;
    border: 0px;
    background: #fdbf00;
    outline: none;
    float: right;
    color: #000000;
    border-radius:0 8px 8px 0;
}

#searchButton:not(:disabled):not(.disabled):focus{
    box-shadow: none;
}

.btn-default{
    background: none;
    padding: .1rem .3rem!important;
}
.btn-default:not(:disabled):not(.disabled):focus{
    box-shadow: 0 0 5px orange;
}

#moreButton:not(:disabled):not(.disabled):focus{
    box-shadow: none;
}

.btn-outline-primary{
    padding: .3rem .5rem!important;
    font-size: 0.9rem!important;
    color:  orange!important;
    border-color: orange !important;
    background-color: white!important;
}

.btn.btn-outline-primary:hover {
    border-color: orange!important;
    background-color: orange!important;
    color: white!important;
}
.btn-outline-primary:not(:disabled):not(.disabled):focus{
    border-color: orange!important;
    background-color: orange!important;
    color: white!important;
    box-shadow: 0 0 1px orange;
}


footer {
    width:70%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
}

footer p {
    margin-bottom: .25rem;
    font-size: 1rem;
}

#signup, #dropout{
    background-color: #FF9100;
    border: none;
}

#login, #logout {
    background-color: #FFDA2D;
    border: none;
}

.featurette-divider {
    margin-top: 5rem; /* Space out the Bootstrap <hr> more */
}
