@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body{
  font-family: 'NanumSquare', sans-serif;
}

.container {
  width: 970px;
  max-width: none !important;
  font-family: 'NanumSquare', sans-serif;
  margin: 0 auto;
}

.main{
  width:65%;
  margin: 0 auto;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

nav{
  width: 75%;
  margin: 0 auto;
}

ul li {
  display: inline;
  text-align: center;
}

.nav-a {
  display: inline-block;
  /* width: 50%;  */
  padding: 0 0;
  margin: 3rem 0 0 0;
  text-decoration: none;
  color: #333;
}


#nav_hr{
 height: .25rem;
 width: 50%;
 margin: 0 0 0 6.8rem;
 background: tomato;
 border: none;
}

#hr-line{
  width:80%;
}

hr{
  width:100%;
  height: 3.125rem;
  text-align: center;
  color: #111111;
}

.recipeInfos, .recipeIngredient, .recipeContent, .commetList{
  width:70%;
  margin: 0 auto;
}

.embed-responsive{
  width:50% !important;
  margin: 0 auto;
}

.recipeInfo > .row{
  width:98%;
  margin: 0 auto;
}

.recipe{
  width: 100%;
  height: auto;
  background-color: #fafafa;
}

.recipe-title{
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'NanumSquare', sans-serif;
  margin-bottom: 2rem;
}

.recipe-basket{
  width:98%;
  height: auto;
}

.card{
  width:9.375rem;
  height:auto;
  border: none !important;
}

.card-body{
    padding: 0.9rem !important;
}

.recipe-content{
  font-family: 'NanumSquare', sans-serif;
  font-size: 1.2rem;
  width: 85%;
}

.number-info{
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.3rem;
}

.fa.fa-star, .fa.fa-star-half{
  font-size: 1.4rem;
}

.checked {
  color: orange;
}

#commet_submit{
  background-color: #FFDA2D;
  border: none;
  float: right;
  font-size: 1rem;
}

footer {
  width:70%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}

footer p {
  margin-bottom: .25rem;
}

#signup, #dropout{
  background-color: #FF9100;
  border: none;
}

#login, #logout {
  background-color: #FFDA2D;
  border: none;
}

#comment_delete{
  background-color: #FF641A;
  border: none;
  height: 2.2rem;
}

.btn-outline-primary:hover {
  background-color: #FFC80D !important;
}

#back_to_list{
  width: 15.3rem;
  height: 2.7rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: gray;
  border-color: gray;
  text-align: center;
}

.featurette-divider {
  margin-top: 5rem; /* Space out the Bootstrap <hr> more */
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  /* width: 250px; remove this */
  height: 1.875rem;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* width: 20%; remove this */
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  /* width: 20%; remove this */
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.star-rating.star-5 {width: 9.375rem;}
.star-rating.star-5 input,
.star-rating.star-5 i {width: 20%;}
.star-rating.star-5 i ~ i {width: 40%;}
.star-rating.star-5 i ~ i ~ i {width: 60%;}
.star-rating.star-5 i ~ i ~ i ~ i {width: 80%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i {width: 100%;}
