@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body{
  font-family: 'NanumSquare', sans-serif;
}

.container {
  width: 970px;
  max-width: none !important;
  font-family: 'NanumSquare', sans-serif;
}

.main{
  width:70%;
  margin: 0 auto;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

nav{
  width: 80%;
  margin: 0 auto;
}

ul li {
  display: inline;
  text-align: center;
}

.nav-a {
  display: inline-block;
  /* width: 50%;  */
  padding: 0 0;
  margin: 3rem 0 0 0;
  text-decoration: none;
  color: #333;
}

.form, .recipe, .youtube, .recipe-step, .recipe-time{
  width:70%;
  margin: 0 auto;
}

#nav_hr{
 height: .25rem;
 width: 50%;
 margin: 0 0 0 6.8rem;
 background: tomato;
 border: none;
}

.form-control{
  width: 20%;
}

.prod-basket{
  width:100%;
  height: auto;
  border: 1px ridge;
  border-color: #eeeeee;
  padding: 1rem 0;
  margin: 3rem 0 50px 0  !important;
}

.card{
  width:180px;
  height:200px;
}

.carousel-control-next, .carousel-control-prev{
  width: 5% !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 0;
  height: 0;
  outline: black;
  background-image: none;
}

.carousel-control-next-icon:after{

  content: '>';
  font-size: 55px;
  color: #FDBF00;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #FDBF00;
}

.image-upload>input {
  display: none;
}

.yellow{
  color: #FFDA2D;
}

.diff{
  width: 100px;
  height: 40px;
  color: white;
}


hr{
  width:100%;
  height: 50px;
  text-align: center;
  color: #111111;
}

textarea{
  width: 70%;
  height: 500px;
  font-family: 'NanumSquare', sans-serif;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width:70%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


#signup, #dropout{
  background-color: #FF9100;
  border: none;
}

#login, #logout {
  background-color: #FFDA2D;
  border: none;
}

#write_submit{
  background-color: #FFDA2D;
  border: none;
  float: right;
  font-size: 1.2rem;
}

#search{
  background-color: #FF641A;
  border: none;
}
#prod_search{
  width:30%;
}
#add{
  background-color: #FFC80D;
  border: none;
  width: 130px;
  height: 30px;
}

#delete{
  background-color: #F57C20;
  border: none;
}

#hr-line{
  width:80%;
}


.featurette-divider {
  margin-top: 5rem; /* Space out the Bootstrap <hr> more */
}
