<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>HoneyCombo</title>
    <link rel="stylesheet"  href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container d-flex">
        <div class="p-2">
            <a href="#">
                <div class='logo-wrapper'>
                    <img class='img-fluid' src="images/logo.png" width="150" height="75">
                </div>
            </a>
        </div>
        <div class="p-2">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="p-3 text-dark" href="/product/main"><h4>상품</h4></a>
                <a class="p-3 text-dark" href="/recipe/mainRecipe"><h4>레시피</h4></a>
            </nav>
        </div>
        <div class="ml-auto p-4 mt-2">
            <% if (isLoggedin)  { %>
                <div>
                    <h5 class="d-inline mt-1"><%= userID %>님 반가워요 :)</h5>&nbsp;
                    <a class="btn btn-primary" id="logout" href="/auth/logout">로그아웃</a>
                    <a class="btn btn-primary" id="dropout" href="/auth/dropout">회원탈퇴</a>
                </div>
            <% } %>
            <% if (!isLoggedin)  { %>
                <div>
                    <a class="btn btn-primary" id="login" href="/auth/login">로그인</a>
                    <a class="btn btn-primary" id="signup" href="/auth/signup">회원가입</a>
                </div>
            <% } %>
        </div>
    </div>
</header>
<main>
    <section class="jumbotron">
    </section>
    <div class="intro"> <!--서비스 소개 작성 예정-->
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>오픈SW플랫폼 Team17 이소망, 이채은, 최희조</p>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.js"></script>


</body>
</html>
