@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.jumbotron{
  background-image: url("../images/static/jumbotron_img.png");
  width: 80%;
  height: 370px;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto;
  max-width: 1140px;
}

.container{
  max-width: 1140px;
  font-family: 'NanumSquare', sans-serif;
}

.service-intro, .service-function{
  max-width: 1200px;
}

.title-list{
  font-weight: 800;
  font-size: 3rem;
  font-family: 'NanumSquare', sans-serif;
}

.small-title{
  font-size: 2.4rem;
  font-weight: bolder;
  font-family: 'NanumSquare', sans-serif;
  margin-bottom: 2rem;
}

#servce_description{
  margin-top: 2rem;
  margin-bottom:  2rem;
  font-style: italic;
  font-weight: bolder;
  font-size: 2.7rem;
  font-family: 'NanumSquare', sans-serif;
}

p{
  font-size: 1.6rem;
  font-family: 'NanumSquare', sans-serif;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#signup, #dropout{
  background-color: #FF9100;
  border: none;
}

#login, #logout {
  background-color: #FFDA2D;
  border: none;
}

.featurette-divider {
  margin-top: 5rem; /* Space out the Bootstrap <hr> more */
}
