<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoneyCombo</title>
</head>
<body>
<form action="/auth/dropout" method="post">
    check PW : <input type="password" name="inputPW"/> <br/>
</form>
<button class="dropoutBtn">회원탈퇴</button>
<p><a href="/product/main">Home</a></p>
<script type="module" src="../../src/js/dropOut.js"></script>
</body>
</html>