<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoneyCombo</title>
    <link rel="stylesheet" type="text/css" href="/src/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="container d-flex mt-2">
            <div class="p-2">
                <a href="/index">
                    <div class='logo-wrapper'>
                        <img class='img-fluid' src="/static/logo.png" width="200" height="70">
                    </div>
                </a>
            </div>
            <div class="p-2">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="p-3 text-dark ml-5 mr-5" style="text-decoration: none" href="/product/main"><h2>상품</h2></a>
                    <a class="p-3 text-dark ml-3" style="text-decoration: none" href="/recipe/mainRecipe"><h2>레시피</h2></a>
                </nav>
            </div>
             <div class="ml-auto p-4 mt-2">
            <a class="btn btn-primary" id="login" href="/auth/login">로그인</a>
            <a class="btn btn-primary" id="signup" href="/auth/signup">회원가입</a>
        </div>
        </div>
    </header>
    <main>

        <h2 class="text-center mt-5">레시피를 작성하려면 로그인 해주세요!</h2>
        <hr>
        <div class="logincenter">
            <div class="login">
                <p class="loginword"><h2>로그인</h2></p>
                <form action="/auth/login" method="post">
                    <input class="logininput" type="text" placeholder="아이디를 입력해주세요" name="ID" style="margin-top: 10px;"/> <br />
                    <input class="logininput" type="password" placeholder="비밀번호를 입력해주세요" name="PW" /> <br />
                    <div class="logResult"></div>
                    <input class="loginBtn" type="submit" value="로그인">
                    <button type="button" class="loginBtn" onclick="location.href='/auth/signup'">회원가입</button>
                </form>
            </div>
            <p class="gomain">
                <button class="mainbutton" type="button" onclick="location.href='/product/main'">홈으로</button></p>
        </div>
    </main>

<!--Error Message - json form-->
<script type="module" src="/src/js/login.js"></script>

</body>
</html>