<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoneyCombo</title>
</head>
<body>
<form action="/auth/signup" method="post">
    ID : <input type="text" name="ID"/> <br/>
    PW : <input type="password" name="PW"/> <br/>
    <input type="submit" value="회원가입">
</form>
<p><a href="/product/main">Home</a></p>

<section><%= message %></section>

</body>
</html>